<!-- HEADER -->
<div class="row">
  <div class="col-md-offset-5">
  <h1>{{title}}</h1>
  </div>
</div>
<!-- /HEADER -->


<!-- OPTIONS -->
<div class="options">
<div *ngFor="let voto of votos">
  <input-component voto={{voto.title}} (addVoto)="addVoto($event)"></input-component>
</div>
  <div class="gigant">
  <p gigant myHighlight>{{votacion}}</p>
  </div>
</div>
<!-- OPTIONS -->

<!-- CONVERSOR -->
<div class="conversor">
    <h2>Conversor</h2>
    <div class="cant">Cantidad: <input [(ngModel)]="cantidad"  /> </div>
    <div class="dolar">1 dolar es : <input [(ngModel)]="factor" /> </div>

    <div class="gigant">
    <p myHighlight gigant>
      Oh es : {{cantidad | conversorPipe:factor}}
    </p>
    </div>

</div>
<!-- CONVERSOR -->

<!-- TICKET SUPPORT -->
<div class="ticket">
<ul>
  <li *ngFor="let ticket of tickets" gigant>
    <b>Ticket N: {{ticket.id}}</b> - {{ticket.titulo}}
    <span myHighlight> [ {{ticket.estado}} ]</span>
  </li>
</ul>

<form [formGroup]="myForm" (ngSubmit)="myForm.value">
  <div class="input">
    <label for="nameInput">Nombre</label>
    <input type="text" id="nameInput" placeholder="Nombre"
           name="nombre" [formControl]="myForm.controls['name']" />
   <button type="submit">Submit</button>
  </div>


</form>
</div>
<!-- /TICKET SUPPORT -->

<!-- RxJS con NGRx -->
<div class="counter">
  <div>
    <h2>Counter: {{counter | async }} </h2></div>
  <button class="btn btn-default"(click)="increment()">Incrementar</button>

  <button class="btn btn-default"(click)="decrement()">Decrementar</button>

  <button class="btn btn-default"(click)="reset()">Reset</button>
</div>

<!-- /RxJS con NGRx -->

<!--NGZone -->
  <div class="ngzone">
    <p gigant> Progress: {{progress}}%</p>
    <p gigant *ngIf="progress >= 100">Done proccessing {{label}} of angular zone!</p>
    <button class="btn btn-default" (click)="processWithingAngularZone()">Con AngularZone</button>
    <button class="btn btn-default" (click)="processOutsideOfAngularZone()">Sin AngularZone</button>
  </div>
<!--/NGZone -->