<h1>
{{title}}
</h1>

<div *ngFor="let voto of votos">
  <input-component voto={{voto.title}} (addVoto)="addVoto($event)"></input-component>
</div>

<h3 gigant myHighlight>{{votacion}}</h3>

<h2>Conversor</h2>

<div>Cantidad: <input [(ngModel)]="cantidad"  /> </div>
<div>1 dolar es : <input [(ngModel)]="factor" /> </div>

<p myHighlight gigant>
  Oh es : {{cantidad | conversorPipe:factor}}
</p>

<ul>
  <li *ngFor="let ticket of tickets" gigant>
    <b>Ticket N: {{ticket.id}}</b> - {{ticket.titulo}}
    <span myHighlight> [ {{ticket.estado}} ]</span>
  </li>
</ul>

<form [formGroup]="myForm" (ngSubmit)="myForm.value">
  <div>
    <label for="nameInput">Nombre</label>
    <input type="text" id="nameInput" placeholder="Nombre"
           name="nombre" [formControl]="myForm.controls['name']" />
  </div>
<!--
  <div>
    <label for="apellidoInput">Apellido</label>
    <input type="text" id="apellidoInput" placeholder="Apellido"
           name="Apellido" ngModel />
  </div>

  <div>
    <label for="twitterInput">twitter</label>
    <input type="text" id="twitterInput" placeholder="Twitter"
           name="twitter" ngModel />
  </div>
-->
    <button type="submit">Submit</button>

</form>